.App {
  padding: 0;
  margin: 0px auto;
  background-color: #ffffff;
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.imgSizer {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0px auto;
}
/* --------------------- */
/* header section styles */
/* --------------------- */
.header {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.headerCol {
  flex-grow: 1;
}
.headerCol2 {
  flex-grow: 1;
  padding-top: 23px;
  text-align: right;
}
.oneHalf {
  flex-grow: 0;
  width: 50%;
}
.logo {
  height: 70px;
}
.cart {
  height: 30px;
}
/* --------------------- */
/* banner section styles */
/* --------------------- */
.banner {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: 'Anton', sans-serif;
  flex-wrap: wrap;
}
.bannerTxt {
  margin-left: 25px;
}
.defLine1 {
  font-size: 64px;
  margin-top: 25px;
  margin-bottom: 0px;
}
.defLine2 {
  letter-spacing: 2px;
}
.bannerCol {
  flex-grow: 1;
}
.defLineLast {
  margin-bottom: 25px;
}
/* ----------------------- */
/* product section styling */
/* ----------------------- */
.products {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: 'Anton', sans-serif;
}
.productTitleCol {
  padding: 20px 0px 0px 35px;
}
.productsTitle {
  font-size: 30px;
}
.displayProducts {
  padding: 10px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product {
  flex-grow: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 33.33%;
  text-align: center;
}
.shirtImg {
  height: 150px;
}
/* footer section styling */
.footer {
  background-color: #000000;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  padding: 20px;
  justify-content: space-between;
}
.footerLogo {
  filter: brightness(0) invert(1);
  width: 200px;
}
.copyright {
  padding-top: 17px;
}
/* ------------- */
/* media queries */
/* ------------- */
@media only screen and (max-width: 920px) {
  .mobileOneOne {
    flex-grow: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .productOneOne {
    flex-grow: 0;
    width: 100%;
  }
}
